#mainNav {
    background-color: darkslategrey;
    color:rgb(255, 255, 255);
  }
  #mainNav :hover{
    color: #7bd47f;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  }