<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
</head>
<div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>

<body>	
<!---->	
    <br>
    <div class="container">
                <div class="col-sm-20">  
                    <div class="col-md-2">      
                        <div class="portlet light profile-sidebar-portlet bordered">
                            <div class="profile-userpic">
                                <img [src]="linkImg" class="img-responsive" alt=""> </div>
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">{{currentUser.nom}}  {{currentUser.prenom}} </div>
                                <div class="profile-usertitle-job"> {{currentUser.numTel}} </div>
                            </div>
                            <div class="profile-userbuttons">
                                    <button class="btn btn-success btn-sm" (click)="gotoProfilUser()"> Détails</button><br>
                            </div>
                            <div class="profile-usermenu">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10"> 
                        <div class="portlet light bordered">
                            <div class="table-title">
                                    <button (click)="onNewPersonne()" 
                                        class="btn btn-info pull-right" 
                                        data-toggle="modal">
                                        <i class="glyphicon glyphicon-plus"></i> 
                                            <b><span style="color:ivory ; font-size: 16px">Nouvelle employé</span></b>
                                    </button>

                                    <form class="navbar-form navbar-center ">
                                            <div class="form-group">
                                                <input type="search" class="input-sm form-control" placeholder="Recherche">
                                                <button type="submit" class="btn btn-primary btn-sm-3" style="color:ivory ; font-size: 15px"><span class="glyphicon glyphicon-search"></span> Chercher</button>
                                            </div>
                                    </form>
                                    
                                    <div class="caption-subject font-blue-madison bold uppercase"><h3><u>Liste des <b>Employés</b></u>({{getNombre()}})</h3></div>	
                            </div>
                            <div>
                                <table class="table table-striped table-hover table-wrapper-scroll-y" cellspacing="0" width="100%">
                                        <thead>
                                                <tr style="text-decoration:underline ; color: black">
                                                    <th></th>
                                                    <th>Matricule</th>
                                                    <th >Nom</th>
                                                    <th>Prénom</th>
                                                    <th>Service</th>
                                                    <th>Fonction</th>
                                                    <th style="text-align: center">Actions</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let personne of personnes; let i =index ">
                                                        <td><img src="assets/images/{{personne.image}}" class="img-circle" height="55px" width="60px"></td>
                                                        <td>{{personne.matricule}}</td>
                                                        <td scope="row"><b  style="font-size: 16px"> {{personne.nom}}  </b></td>
                                                        <td>{{personne.prenom}}</td>
                                                        <td>{{personne.nomService}}</td>
                                                        <td>{{personne.fonction}}</td>
                                                        <td>                                                      
                                                          <button class="btn btn-success btn-block" (click)="gotoProfil(i)"> Détails</button><br>
                                                          <button class="btn btn-danger " (click)="onDeletePers(i)"> Supprimer</button>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                                <div class="clearfix">
                                        <div class="hint-text" style="font-size:19px ; color:darkred ">Liste arreté sur <b>{{getNombre()}}</b> Employés.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</body>
</html>                                		                            
